<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
  Basic bootstrip button with tooltip
  <button type="button" class="btn btn-primary" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Button with tooltip
  </button>
</div>

<div>
  Bootstrip date picker
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
  </div>
</div>

<div>
  Bootstrip time picker
  <timepicker [(ngModel)]="mytime"></timepicker>
</div>